<div class="container">  
    <div class="alert alert-danger" id="error" ng-show="ctrl.isError">{{ctrl.errorMessage}}</div>   
    <div>
        <a href="/partner-tools/#/" class="pull-right" style="margin-top : 8px;">
            <button class="btn btn-primary link_main"><< Partner Tools</button>
        </a>
    </div> 
    <h2>Extended Warranty Purchase</h2>
    
    <div class='pageIndicators'>
        <span class='highlight'>Registrations</span>
        <span>Selection</span>
        <span>Review & Pay</span>
        <span>Confirmation</span>
    </div>
    <fieldset>
        <legend><h4>Recent Registrations</h4></legend>
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <p><i>Select a recently registered facility to purchase Extended Warranty coverage.</i></p>

            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="centerAlign">Registration ID</th>
                            <th>Facility</th>
                            <th>Sales Rep</th>
                            <th>Install Date</th>
                            <th>Registration Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-show="ctrl.registrations.length == 0">
                            <td colspan="5" class="text-danger centerAlign"><strong>No Records Found.</strong></td>                          
                        </tr>
                        <tr 
                            extended-warranty-hover
                            ng-repeat="registration in ctrl.registrations" 
                            ng-click="ctrl.selectRecord(registration)"
                            >
                            <td class="centerAlign">{{registration.id}}</td>
                            <td>{{registration.facilityName}}</td>
                            <td>{{registration.dealerName}}</td>
                            <td>{{registration.installDate}}</td>
                            <td>{{registration.draftSubmittedDate.split(' ')[0]}}</td>                            
                        </tr>
                    </tbody>
                </table>
            </div>       
        </div>
        <div class="col-sm-1"></div>
    </fieldset>
    
    <!--<a href="#/extendedWarrantySelection">
        <button ng-click="ctrl.setSelectedRecord()" type="button" class="btn btn-primary" ng-disabled="!ctrl.selectedRecordId"> Next <span class="glyphicon glyphicon-ok-sign"></span> </button>
    </a>-->
</div>

<div id="cover" ng-show="ctrl.loader"></div>
<div class="loader_in_css" ng-show="ctrl.loader"><img src="images/loader.GIF"/></div>
