<div class="container">    
    <div class="alert alert-danger" id="err" ng-show="iserror">{{errorMessage}}</div>
    <h2>Extended Warranty Purchase</h2>
    
    <div class='pageIndicators'>
        <span>Registrations</span>
        <span class='highlight'>Selection</span>
        <span>Review & Pay</span>
        <span>Confirmation</span>
    </div>
    
    <p>
        <span>Registration ID : {{ctrl.selectedRecord.id}}</span>
        <span style="padding-left:20px;">Facility : {{ctrl.selectedRecord.facilityName}}</span>
    </p>
    
    <fieldset>
        <legend><h4>Select EW Terms</h4></legend>
        
        <div class="form-group col-sm-12">
            <label for="term" class="control-label col-sm-3 col-xs-4 padding-top-5">Display Pricing For :</label>
            <div class="col-sm-3 col-xs-4">
                <select
                    name="term"
                    id="term"
                    class="form-control"
                    ng-model="ctrl.selectedTerms"
                    ng-options="term.label as term._term for term in ctrl.terms"
                    ng-disabled="false"
                > 
                </select>
            </div>
            <button 
                class="btn btn-primary" 
                style="margin-left: 8px;" 
                ng-click="ctrl.applyTermAndPrice()">
                Apply
            </button>
        </div>
        
        <div class="col-sm-12 padding-top-5">
            <button 
                class="btn btn-primary" 
                style="margin-left: 10px;" 
                ng-click="ctrl.selectAllProducts()">
                Select All
            </button>
            <button 
                class="btn btn-primary" 
                style="margin-left: 10px;" 
                ng-click="ctrl.selectNoProducts()">
                Select None
            </button>
        </div>
        
        <div class="table-responsive col-sm-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <!--<th class="centerAlign">Make Selection</th>-->
                        <th class="centerAlign">Serial Number</th>
                        <th>Product Description</th>
                        <th>Terms</th>
                        <th>Price</th>
                        <th>Selected Terms</th>
                        <th>Selected Price</th>
                        <th class="centerAlign">Add / Remove</th>
                    </tr>
                </thead>
                <tbody ng-cloak>
                    <!-------------------------------------------------------
                        Simple Line Items
                    --------------------------------------------------------->
                    <tr ng-repeat="asset in ctrl.assetsList.simpleLineItems">
                        <!--<td class="centerAlign">
                            <button 
                                type="button" 
                                class="btn btn-sm" 
                                ng-click="ctrl.selectOrDeselectAsset(asset)" 
                                ng-class="{'btn-primary' : asset.isSelected}">
                                Select 
                            </button>
                        </td>-->
                        <td class="centerAlign">{{asset.serialNumber}}</td>
                        <td>{{asset.productLineName}}</td>
                        <td class="centerAlign">{{asset.defaultTerm || 'NA'}}</td>
                        <td><span ng-show="asset.defaultPrice">$</span>{{asset.defaultPrice || 'NA'}}</td>
                        <td class="centerAlign">
                            <span 
                                ng-show="asset.selectedTerms || asset.selectedTerms === null">
                                {{asset.selectedTerms || "NA"}}
                            </span>
                        </td>
                        <td class="rightAlign">                            
                            <span ng-show="asset.selectedPrice || asset.selectedPrice === 0">
                                <span ng-show="asset.selectedPrice">$</span>{{asset.selectedPrice || "NA"}}
                            </span>
                        </td>
                        <td class="centerAlign">
                            <p ng-show="asset.defaultPrice" class="selectionBtns">
                                <button type="button" ng-click="ctrl.addAsset(asset)" class="btn btn-primary btn-sm">
                                    Add 
                                    <span class="glyphicon glyphicon-ok"></span>
                                </button>
                            </p>
                            
                            <p ng-show="asset.defaultPrice || asset.selectedPrice" class="selectionBtns">
                                <button type="button" ng-click="ctrl.removeAsset(asset)" class="btn btn-warning btn-sm">
                                    Remove 
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </p>
                        </td>
                    </tr>
                    <!-------------------------------------------------------
                        Composite Line Items
                    --------------------------------------------------------->
                    <tr ng-repeat="componentsList in ctrl.assetsList.compositeLineItems">
                        <!--<td rowspan="componentsList.length" class="centerAlign verticalAlign">
                            <button 
                                type="button" 
                                class="btn btn-sm" 
                                ng-click="ctrl.selectOrDeselectAsset(componentsList)" 
                                ng-class="{'btn-primary' : componentsList.isSelected}">
                                Select 
                            </button>
                        </td>-->
                        <td class="verticalAlign">
                            <table class="table inner-table">
                                <tr ng-repeat="asset in componentsList.components">
                                    <td class="centerAlign">
                                        {{asset.serialNumber}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table class="table inner-table">
                                <tr ng-repeat="asset in componentsList.components">
                                    <td>
                                        {{asset.productLineName}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td 
                            rowspan="componentsList.length" 
                            class="centerAlign verticalAlign">
                            {{componentsList.defaultTerm || 'NA'}}
                        </td>
                        <td rowspan="componentsList.length" class="verticalAlign">
                            <span ng-show="componentsList.defaultPrice">$</span>{{componentsList.defaultPrice || 'NA'}}
                        </td>
                        <td rowspan="componentsList.length" class="centerAlign verticalAlign">
                            <span 
                                ng-show="componentsList.selectedTerms || componentsList.selectedTerms === null">
                                {{componentsList.selectedTerms || "NA"}}
                            </span>
                        </td>
                        <td rowspan="componentsList.length" class="rightAlign verticalAlign">                            
                            <span ng-show="componentsList.selectedPrice || componentsList.selectedPrice === 0">
                                <span ng-show="componentsList.selectedPrice">$</span>
                                {{componentsList.selectedPrice || "NA"}}
                            </span>
                        </td>
                        <td rowspan="componentsList.length" class="centerAlign verticalAlign">                            
                            <p ng-show="componentsList.defaultPrice" 
                               class="selectionBtns">
                                <button type="button" 
                                    ng-click="ctrl.addAsset(componentsList)" 
                                    class="btn btn-primary btn-sm">
                                    Add 
                                    <span class="glyphicon glyphicon-ok"></span>
                                </button>
                            </p>
                            <p ng-show="componentsList.defaultPrice || componentsList.selectedPrice" 
                               class="selectionBtns">
                                <button type="button" 
                                    ng-click="ctrl.removeAsset(componentsList)" 
                                    class="btn btn-warning btn-sm">
                                    Remove 
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </p>
                        </td>
                    </tr>
                    <tr class="borderNone">
                        <td 
                            colspan="6" 
                            style="text-align: right; border: none;">
                            Total Selected Price : ${{ctrl.totalPrice}}
                        </td>
                        <td class="borderNone"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="col-sm-12"><a href="" class="underline">Extended Warranty Pricing Reference</a></div>
        
    </fieldset>
    
    <fieldset>
        <legend><h4>Discount</h4></legend>
        <div class="form-group col-sm-12 row">
            <label for="discountCoupon" class="control-label col-sm-2"> Apply Discount </label>
            <div class="col-sm-3">
                <input type="text"
                       name="discountCoupon"
                       id="discountCoupon"
                       ng-model="ctrl.discountCoupon"
                       class="form-control"
                       placeholder="Enter Discount Coupon"
                       ng-change = "ctrl.discountCouponStatusChecked && ctrl.getDiscountAmountOrPercentage()"
                />
            </div>
            <div class="col-sm-2">
                <button 
                    class="btn btn-primary" 
                    ng-click="ctrl.getDiscountAmountOrPercentage()"
                    ng-disabled = "!ctrl.discountCoupon"
                    >
                    Check Discount
                </button>
            </div>  
            <div 
                class="col-sm-3 discountInvalidMessage alert-danger" 
                ng-show="ctrl.discountCouponStatus == 'invalid' && ctrl.discountCouponStatusChecked && ctrl.discountCoupon">
                Invalid Discount Code. Please check the entered code.
            </div>
            <div 
                class="col-sm-3 discountInvalidMessage alert-danger" 
                ng-show="ctrl.discountCouponStatus == 'redeemed' && ctrl.discountCouponStatusChecked && ctrl.discountCoupon">
                This Discount Coupon Already Redeemed.
            </div> 
            <div 
                class="col-sm-4 discountInvalidMessage alert-success" 
                ng-show="ctrl.discountCouponStatus == 'valid' && ctrl.discountCouponStatusChecked && ctrl.discountCoupon">
                Discount Code Applied.
                <span 
                    ng-if="ctrl.discountCouponData.type == '$'">                    
                    <b>{{ctrl.discountCouponData.type +""+ ctrl.discountCouponData.value}} off.</b>
                </span>
                <span 
                    ng-if="ctrl.discountCouponData.type == '%'">
                    <b>{{ctrl.discountCouponData.value +""+ ctrl.discountCouponData.type}} off.</b>
                </span></br>
                Your discount will show on the following review page.
            </div>            
        </div>        
    </fieldset>
    
    <button ng-click="ctrl.gotoReview()" type="button" class="btn btn-primary"> Review </button>
    <button ng-click="ctrl.cancelSelection()" type="button" class="btn btn-warning"> Cancel </button>
</div>

<div id="cover" ng-show="ctrl.loader"></div>
<div class="loader_in_css" ng-show="ctrl.loader"><img src="images/loader.GIF"/></div>
