<div class="container">    
    <div class="alert alert-danger" id="err" ng-show="iserror">{{errorMessage}}</div>
    <h2>Extended Warranty Purchase</h2>
    
    <div class='pageIndicators'>
        <span>Registrations</span>
        <span>Selection</span>
        <span>Review & Pay</span>
        <span class='highlight'>Confirmation</span>
    </div>
    
    <p class="font-18">
        <span>RegistrationID : {{ctrl.selectRecord.id}}</span>
        <span style="padding-left:20px;">Facility : {{ctrl.selectRecord.facilityName}}</span>
    </p>
    
    <fieldset>
        <legend><h4>Product Details</h4></legend>
        
        <div class="table-responsive col-sm-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="centerAlign">Serial Number</th>
                        <th>Product Description</th>
                        <th>Selected Terms</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in ctrl.selectedProducts">
                        <td class="centerAlign">{{product.serialNumber}}</td>
                        <td>{{product.productLineName}}</td>
                        <td>{{product.selectedTerm}}</td>
                        <td class="rightAlign">{{product.selectedPrice}}</td>
                    </tr>
                    <tr class="borderNone">
                        <td colspan="4" style="text-align: right; border: none;">
                            Total : $ {{ctrl.totalPrice}}
                        </td>
                    </tr>
                    <tr class="borderNone">
                        <td colspan="4" style="text-align: right; border: none;">
                            Discount Applied : $ {{ctrl.discountPrice}}
                        </td>
                    </tr>
                    <tr class="borderNone">
                        <td colspan="4" style="text-align: right; border: none;">
                            After Discount : $ {{ctrl.afterDiscountPrice}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
    
    <fieldset>
        <legend><h4>Payment</h4></legend>        
        <div class="form-group formGroup">
            <label for="purchaseOrder" class="control-label col-sm-4">Purchase Order #:</label>
            <div class="col-sm-4">
                <input type="text"
                    name="purchaseOrder"
                    id="purchaseOrder"
                    ng-model="ctrl.purchaseOrder"
                    class="form-control"
                    placeholder="Enter Purchase Order"
                    disabled
                />
            </div>
        </div>
        <div class="form-group formGroup">
            <label class="control-label col-sm-4">Sold to Account #:</label>
            <div class="col-sm-4">
                <input type="text"
                    name="SAPAccountNumber"
                    id="SAPAccountNumber"
                    ng-model="ctrl.SAPAccountNumber"
                    class="form-control"
                    disabled
                />
            </div>
        </div> 
    </fieldset>
    
    <div class="submissionData">
        <p>Submitted : {{ctrl.submittedDate}}</p>
        <p>Submission ID : {{ctrl.submissionId}}</p>
    </div>
    
    <a href="/partner-tools/#/">
        <button type="button" class="btn btn-primary"> Home <span class="glyphicon glyphicon-home"></span></button>    
    </a>    
</div>

<div id="cover" ng-show="ctrl.loader"></div>
<div class="loader_in_css" ng-show="ctrl.loader"><img src="images/loader.GIF"/></div>
