fieldset {
    min-width: 0 !important;
    padding: .35em .625em .75em !important;
    margin: 0 !important;
    border:1px solid #ccc !important;
    margin-bottom:10px !important;
    padding-top:10px !important;
    margin-top:0px !important;
}
legend {
    display: block !important;
    width: auto !important;
    padding: 0 !important;
    margin-bottom: 0px !important;
    font-size: 16px !important;
    line-height: inherit !important;
    color: #333 !important;
    border: 0 !important;
}
.error-message {
    color: #e4482f;
}
.formGroup{
    height: 40px;
}
.initialLoader {
    top : 20%;
    left : 40%;
    position : absolute;
}
#cover {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1; /* make sure logout_box has a z-index of 2 */
    background-color: #ddd;
    opacity: 0.3;
}
.loader_in_css{
    position : absolute;
    top : 30%;
    left : 45%;
    z-index : 1;
}
.pageIndicators{
    text-align: right;
    margin-top: -20px;
}
.pageIndicators > span {
    margin: 0px 5px;
}
.control-label{
    padding-right: 0px !important;
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
}
.discountInvalidMessage{
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}
thead{
    background-color: #ccc;
}
.submissionData{
    margin-top: 20px;
    margin-bottom: 20px;
}

.inner-table{
    margin-bottom: 0px !important;
}
.inner-table td{
    border: none !important;
}

/************************************************ 
                UTILITY CLASSES
*************************************************/

.underline{
    text-decoration: underline;
}
.centerAlign{
    text-align: center;
}
.rightAlign{
    text-align: right;
}
.verticalAlign {
    vertical-align: middle !important;
}
.font-18{
    font-size: 18px;
}
.highlight{
    font-size: 18px;
    font-weight: bold;
}
.cursorPointer{
    cursor: pointer;
}
.selectedRecord{
    background-color: #dae5f4;
    cursor: default;
}
.clearBoth{
    clear: both;
    padding-top: 8px;
    padding-left: 8px;
}
.padding-top-5{
    padding-top: 5px;
    margin-bottom: 10px;
}
.borderNone{
    border: none !important;
}
.lightGray{
    color: #7cb55f;
    font-size: 15px;
}